body{
    background-color: rgb(18, 2, 20);
}
button {
    background: pink;
    border-radius: 5px;
    border: none;
    padding: 15px 30px;
    font-size: 24px;
    font-family: 'Times New Roman', Times, serif;
    margin:60px 0   0px   480px;
    display:inline-block;]
    text-transform: uppercase;
    letter-spacing: 2px;
    cursor: pointer;
    transition: 0.3s ease all;
    line-height: 2;
    display: flex;

  }
  
  button:hover {
    background: rgb(225, 186, 243);
  }
  
  .icon {
    margin-right: 9px;
  }

#container{
    border:1px solid rgb(175, 114, 157);
    border-radius :20px;
    width:400px;
    margin:20px auto;
    padding:20px;
    text-align:center;
    background :  rgb(175, 114, 157);
  }
  
  #timer{ 
    color:rgb(14, 13, 13); 
    font-size:50px; 
    margin:10px auto;
    border : 5px solid rgb(14, 13, 13);
    border-radius:50%;
    width:200px;
    height:200px;
    overflow:hidden;
    position:relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor:default;
  }
  
  #time{
    margin-top:70px;
    z-index : 1;
    position:relative;
  }
  
  #filler{
    background : #b1adb0;
    height: 0px;
    width: 200px;
    position:absolute;
    bottom:0;
  }
  
  #buttons button { 
    background:rgb(18, 2, 20); 
    border:none; 
    color:#fff; 
    cursor:pointer; 
    padding:5px; 
    width:130px; 
    margin:10px auto;
    font-size:14px;
    height : 50px;
    border-radius : 50px;
    display: inline;
  }
  
   button:hover {
    background: rgb(225, 186, 243);
  }
